{% load static %}
<html>
    <head>
        <title>Audrey Datau</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <!-- menghubungkan dengan css dan bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="Stylesheet" href="{% static 'css/Story4.css' %}">

        <!-- membuat icon judul website-->
        <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/icon">

        <!-- menggunakan jenis font yang sesuai -->
        <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- bagian navigasi yang paling atas dan terdapat logo paling kiri -->
        <div class="header">
            <nav class="navbar fixed-top navbar-light">
            <a class="navbar-brand" href="{% url 'Homepage:Homepage' %}">
            <img src="{% static 'assets/logo.png' %}" width="50" height="30" alt="">
            <a href="#" class="openButton" onclick="openNav()"><img src="{% static 'assets/nav.png' %}" width="50" height="50"></a>
            </a>
            </nav>        
        </div>

        <!-- mengatur hamburger navbar yang paling kanan -->
        <div id="nav" class="overlay">
            <a href="#" class="closeButton" onclick="closeNav()">X</a>
                <div class="overlay__content">
                    <a href="{% url 'Homepage:Homepage' %}" onclick="closeNav()">Home</a>
                    <a href="{% url 'Homepage:About' %}" onclick="closeNav()">About</a>
                    <a href="{% url 'Homepage:Experience' %}" onclick="closeNav()">Experience</a>
                    <a href="{% url 'Homepage:Contact' %}" onclick="closeNav()">Contact</a>
                    <a href="{% url 'Homepage:Schedule' %}" onclick="closeNav()">Schedule</a>
                </div>
        </div>

        <!-- bagian about     -->
        <div class="container-fluid" id="About">
            <div class="row">
                <div class="col-lg-4">
                    <h1>ABOUT</h1>
                    <img src="{% static 'assets/myphoto1.jpg' %}"  class="rounded-lg float-left">
                </div>
                <div class="col-lg-6">
                       <p>My name is Audrey Annisa Datau and you can call me 
                            Audrey. I was born and grew up in Jakarta, Indonesia.<br>
                            <br> I am a hardworking and punctual individual with passion
                            for technology. I work well in team and also on my own. 
                            I am well organized and love to make plans about things 
                            that i will do.

                       </p> 
                </div>
            </div>
        </div>

        <!-- menghubungkan dengan file javascript -->
        <script src="{% static 'js/Story4.js' %}"> </script>

    </body>
</html>

