{% load static %}
<html>
    <head>
        <title>Audrey Datau</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <!-- menghubungkan dengan css dan bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="Stylesheet" href="{% static 'css/Story4.css' %}">

        <!-- membuat icon judul website-->
        <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/icon">

        <!-- menggunakan jenis font yang sesuai -->
        <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- bagian navigasi yang paling atas dan terdapat logo paling kiri -->
        <div class="header">
            <nav class="navbar fixed-top navbar-light">
            <a class="navbar-brand" href="{% url 'Homepage:Homepage' %}">
                <img src="{% static 'assets/logo.png' %}" width="50" height="30" alt="">
            </a>
            <a href="#" class="openButton" onclick="openNav()"><img src="{% static 'assets/nav.png' %}" width="50" height="50"></a>
            </nav>        
        </div>

        <!-- mengatur hamburger navbar yang paling kanan -->
        <div id="nav" class="overlay">
            <a href="#" class="closeButton" onclick="closeNav()">X</a>
                <div class="overlay__content">
                    <a href="{% url 'Homepage:Homepage' %}" onclick="closeNav()">Home</a>
                    <a href="{% url 'Homepage:About' %}" onclick="closeNav()">About</a>
                    <a href="{% url 'Homepage:Experience' %}" onclick="closeNav()">Experience</a>
                    <a href="{% url 'Homepage:Contact' %}" onclick="closeNav()">Contact</a>
                    <a href="{% url 'Homepage:Schedule' %}" onclick="closeNav()">Schedule</a>
                </div>
        </div>

         <!-- bagian Experience -->
         <div class="AllExperience"  id="Experience">
            <h1>EXPERIENCE</h1>
            <div class="contentexperience">

            <div class="Experience1">
                    <p class="label success new-label">
                    <h3 class="align">Universitas Indonesia <h4><i>September 2019 - December 2019</i> </h4>  </h3> 
                    <h3 class="add-label"><strong>Universitas Indonesia 
                    <br> Teaching Assistant for Programming Foundation 1 </strong>
                    <br> Help and make students comfortable with programming, arranging tutorial problems, scoring students tutorial and assignments.
                    </h3></p>
            </div>
            
            <div class="Experience2">
                    <p class="label success new-label">
                    <h3 class="align">BEM FASILKOM UI <h4><i>February 2019 - December 2019 </i> </h4>  </h3> 
                    <h3 class="add-label"><strong>BEM FASILKOM UI 
                    <br> Public Relations Staff </strong>
                    <br> Maintain the publication of BEM Fasilkom UI in social media  and be a liason between
                    <br> BEM & external parties both inside and outside faculty.
                    </h3></p>
            </div>

            <div class="Experience3">
                    <p class="label success new-label">
                    <h3 class="align">COMPFEST <h4><i> March 2019 - September 2019 </i> </h4>   </h3>
                    <h3 class="add-label"> <strong>COMPFEST
                    <br> Marketing Staff</strong>
                    <br> Maintain all social media of COMPFEST.
                    </h3></p>
            </div>

            <div class="Experience4">
                    <p class="label success new-label">
                    <h3 class="align">CROPS PATRIOTS <h4><i> April 2017 </i> </h4>   </h3>
                    <h3 class="add-label"><strong>CROPS PATRIOTS
                    <br> Vice Project Officer</strong>
                    <br> Be the right handman for the project officer.
                    </h3></p>
            </div>
            
        </div>
    </div>
    


        <!-- menghubungkan dengan file javascript -->
        <script src="{% static 'js/Story4.js' %}"> </script>
  
    </body>
</html>