{% load static %}
<html>
    <head>
        <title>Audrey Datau</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- menambahkan icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

         <!-- menghubungkan dengan css dan bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="Stylesheet" href="{% static 'css/Story4.css' %}">

        <!-- membuat icon judul website-->
        <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/icon">

        <!-- menggunakan jenis font yang sesuai -->
        <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani&display=swap" rel="stylesheet">
    </head>

<body>
    <!-- bagian navigasi yang paling atas dan terdapat logo paling kiri -->
    <div class="header">
        <nav class="navbar fixed-top navbar-light">
        <a class="navbar-brand" href="{% url 'Homepage:Homepage' %}">
        <img src="{% static 'assets/logo.png' %}" width="50" height="30" alt="">
        </a>
        <a href="#" class="openButton" onclick="openNav()"><img src="{% static 'assets/nav.png' %}" width="50" height="50"></a>
        </nav>      
    </div>

    <!-- mengatur hamburger navbar yang paling kanan -->
    <div id="nav" class="overlay">
        <a href="#" class="closeButton" onclick="closeNav()">X</a>
        <div class="overlay__content">
            <a href="{% url 'Homepage:Homepage' %}" onclick="closeNav()">Home</a>
            <a href="{% url 'Homepage:About' %}" onclick="closeNav()">About</a>
            <a href="{% url 'Homepage:Experience' %}" onclick="closeNav()">Experience</a>
            <a href="{% url 'Homepage:Contact' %}" onclick="closeNav()">Contact</a>
            <a href="{% url 'Homepage:Schedule' %}" onclick="closeNav()">Schedule</a> 
            </div>
    </div>

    <div class="allcontent">
    <div class="AllSchedule" id="Schedule">
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
              <label for="activity_name" class="labelactivity">Activity: </label>
              <input type="text" class="form-control" id="activity_name" placeholder="" name="activity_name">
            </div>
            <div class="form-group">
              <label for="category" class="labelcategory">Category: </label>
              <input type="text" class="form-control" id="category" placeholder="" name="category">
            </div>
            <div class="form-group">
                    <label for="place" class="labelplace">place: </label>
                    <input type="text" class="form-control" id="place" placeholder="" name="place">
            </div>
            
            
            <div class="well">
                <div id="datetimepicker4" class="input-append">
                      <label for="time" class="labeldate">Date & Time: </label>
                      <input id="time" type="datetime-local" name="time">
                      <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                </div>
            </div>
                 
            <button type="submit" class="btn btn-primary">Submit</button>
            

        </form>
    </div>

    <div class="table_data" id="table_data">
    <h2>Schedule</h2>
    <br>
    <table class="table table-hover" id="table">
            <thead>
              <tr>
                <th scope="col">Date/time</th>
                <th scope="col">Activity</th>
                <th scope="col">Category</th>
                <th scope="col">Place</th>
              </tr>
            </thead>
            <div class="contentschedule">
            <tbody>
              {% for schedule in all_schedule %}
              <tr>
                <th scope="row">{{ schedule.time }}</th>
                <td>{{ schedule.activity_name }}</td>
                <td>{{ schedule.category }}</td>
                <td>{{ schedule.place }}</td>
                <td>
                <form method="POST" action="{% url 'Homepage:Schedule_delete' schedule.id %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-dark btn-lg" type="submit" width="10px"><i class="fa fa-trash"></i></button>
                </form>
            </td>
              </tr>
              {% endfor %}
            </tbody>
            </div>
    </table>
    </div>
    </div>

        <script src="{% static 'js/Story4.js' %}" type="text/javascript"> 
        </script>
</body>

</html>
